*{margin:0;
    padding:0;
    box-sizing: border-box;
    }
    body{
        background-color: #ececec;
    }
    .slider__wrapper{
        width:250px;
        height:250px;
        margin: 10px auto;
        overflow: hidden;
        text-align: center;
        border: 2px solid black;
    }
    
    .slider__items{
        list-style: none;
        position:relative;
        top: 120px;
        margin: auto 120px;
    }
    
    .slider__item{
       position:absolute; 
       font-size:20px;
      
      

    }
    img{
        width: 100%;
        display: block;
    
    
    }
    .nav{
        text-align: center;
        width:210px;
        display: grid;
        grid-template-columns:  1fr 1fr;
        margin: 20px auto;
    }
    .prev, .next{
        
        width:100px;
        border: 2px solid black;
        margin: 0px 5px;
        cursor: pointer;
        text-decoration: none;
    }
    .prev:hover, .next:hover{
        
       background-color:gray;
       color:white;
    }
    .styled {
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 2rem;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: rgb(102, 83, 83);
        background-image: linear-gradient(to top left,
                                          rgba(0, 0, 0, .2),
                                          rgba(0, 0, 0, .2) 30%,
                                          rgba(0, 0, 0, 0));
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                    inset -2px -2px 3px rgba(0, 0, 0, .6);
    }
    .styled:hover {
        background-color:rgb(129, 96, 96);
    }
    
    .styled:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                    inset 2px 2px 3px rgba(0, 0, 0, .6);
    }